@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(175, 220, 249);
}
.container{
      min-height: 30%;
      height: auto;
      width:44%;
      background-color: aliceblue;
      border-radius: 17px;
      box-shadow: 20px 20px 25px rgba(0,0,0,0.35);

}
.search_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding :30px 10px;
    
    
}
.input{
    padding:10px;
    border: none;
    width:65%;
    border-bottom:3px solid #40b0fa;
    background-color: aliceblue;
    font-size: large;
    letter-spacing: 2px;
}
.btn{
    padding:14px;
    width:100px;
    background-color:rgb(175, 220, 249); 
    border:none;
    border-radius:10px;
    font-size:medium;
    font-weight: 500;
  transition: 
    transform 0.3s ease-in-out,
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgb(102, 100, 100);
  background-color: #7ac8fc;
}

.result{
  display:flex;
  flex-direction: column;
  justify-content: start;
  font-size:25px;

}

.word{
  display: flex;
  justify-content: space-around;

  
}
.speaker{
  border: none;
  outline:none;
  background-color: aliceblue;
  transform: scale(1.7);
  
}
.speaker:hover{
color:#7ac8fc;
}
.details{
  display: flex;
  
  padding-left: 55px;
  margin-top :20px;
  gap:18px;
  margin-bottom: 10px;
  font-size: 20px;
  color:#b3b6d4;
  
}
.meaning{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  min-height:80px;
  height:auto;
  padding:10px 20px;
  box-sizing: border-box;
  font-size: large;
  color:#575a7b;
}
.examples{
  
  margin-bottom:20px;
  font-size: 18px;
  color:#575a7b;
  font-style: italic;
  border-left:4px solid #40b0fa;
  padding-left: 20px;
  margin-left:30px;
  margin-top:20px;
  


}
.word{
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}
.speaker{
  font-size: 1.3rem;
}
.examples{
  min-height: 50px;
}

.input:focus{
  outline: none;
  border-bottom-color: #7ac8fc;
}
.btn,
.speaker{
  cursor: pointer;
}
#error{
  text-align: center;
}
