body{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#button{
    height: 70px;
    width:110px;
    background-color:rgb(136, 188, 240);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.circle{
    background-color: rgb(48, 7, 252) ;
    border-radius: 50%;
    width:20px;
    height: 20px;
    animation: circgrow 2s ease-out  ;
    transform-origin: center;

}

@keyframes circgrow {
  from {
    transform: scale3d(0.2, 0.2, 1);
    opacity: 1;
  }
  to {
    transform: scale3d(20, 20, 1);
    opacity: 0.5;
  }
}