input,button{
    margin:10px;
    padding:7px;
    font-size: large;
    background-color: rgb(79, 196, 124);
    color:white;
    
    border:none;
    outline:none;

}
input:hover{
    box-shadow: inset 0 0 100px rgba(29,12,212,0.5);


}