*{
    margin: 0px;
 
   padding:0px;


}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: Arial, sans-serif;
      background-color: #1C1C1C;


}

  .parent{
  width: 320px;
  height: auto;
  background-color: #2C2F3A;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.8);
}


.screen{
  width: 90%;
  height: 70px;
  background-color: #111111;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #00FFCC;
  font-size: 28px;
  padding: 15px;
  text-align: right;
  box-shadow:
  inset 0 2px 6px rgba(0,0,0,0.8),
  inset 0 -2px 6px rgba(255,255,255,0.05);

}
.but-area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 30px;
}

button{
  height: 55px;
  background-color: #2A2A2A;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover{
  background-color: #3A3A3A;
}

.equal{
  grid-row: span 2;
  background-color: #FF9500;
}

.zero{
  grid-column: span 2;
   
}

